<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovo.mapper.StuMapper" >

     <resultMap type="com.lovo.entity.StuEntity" id="BaseResultMap">
         <id property="stuId" column="stuid"/>
         <result property="stuName" column="stuname"/>
         <result property="age" column="age"/>
         <result property="pwd" column="pwd"/>
         <result property="sex" column="sex"/>
         <result property="birthDay" column="birthday"/>
         <result property="score" column="score"/>
         <association property="teacher" javaType="com.lovo.entity.TeacherEntity">
             <id property="teacherId" column="teacherid"/>
             <result property="teacherName" column="teachername"/>
             <result property="className" column="classname"/>
             <result property="teacherBirthday" column="teacherbirthday"/>
             <result property="teacherSex" column="teachesex"/>
         </association>
     </resultMap>
  
  <insert id="addStu" parameterType="com.lovo.entiey.StuEntity" >
    
    insert into t_stu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuName != null" >
        stuname,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthDay != null" >
        birthDay,
      </if>
      <if test="score != null" >
        score,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkThingId != null" >
        #{pkThingId,jdbcType=INTEGER},
      </if>
      <if test="fThingnum != null" >
        #{fThingnum,jdbcType=VARCHAR},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fField != null" >
        #{fField,jdbcType=VARCHAR},
      </if>
      <if test="fAdress != null" >
        #{fAdress,jdbcType=VARCHAR},
      </if>
      <if test="fkType != null" >
        #{fkType,jdbcType=INTEGER},
      </if>
      <if test="fkLevel != null" >
        #{fkLevel,jdbcType=INTEGER},
      </if>
      <if test="fReportpeople != null" >
        #{fReportpeople,jdbcType=VARCHAR},
      </if>
      <if test="fAlarmpeople != null" >
        #{fAlarmpeople,jdbcType=VARCHAR},
      </if>
      <if test="fAlarmphone != null" >
        #{fAlarmphone,jdbcType=VARCHAR},
      </if>
      <if test="fOccurtime != null" >
        #{fOccurtime,jdbcType=VARCHAR},
      </if>
      <if test="fStatus != null" >
        #{fStatus,jdbcType=VARCHAR},
      </if>
      <if test="fArea != null" >
        #{fArea,jdbcType=REAL},
      </if>
      <if test="fInjured != null" >
        #{fInjured,jdbcType=INTEGER},
      </if>
      <if test="fHousenum != null" >
        #{fHousenum,jdbcType=INTEGER},
      </if>
      <if test="fLossmoney != null" >
        #{fLossmoney,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lovo.bean.EventEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update t_event
    <set >
    
      <if test="fName != null" >
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fField != null" >
        f_field = #{fField,jdbcType=VARCHAR},
      </if>
      <if test="fAdress != null" >
        f_adress = #{fAdress,jdbcType=VARCHAR},
      </if>
      <if test="fkType != null" >
        fk_type = #{fkType,jdbcType=INTEGER},
      </if>
      <if test="fkLevel != null" >
        fk_level = #{fkLevel,jdbcType=INTEGER},
      </if>
      <if test="fReportpeople != null" >
        f_reportPeople = #{fReportpeople,jdbcType=VARCHAR},
      </if>
      <if test="fAlarmpeople != null" >
        f_alarmPeople = #{fAlarmpeople,jdbcType=VARCHAR},
      </if>
      <if test="fAlarmphone != null" >
        f_alarmPhone = #{fAlarmphone,jdbcType=VARCHAR},
      </if>
      <if test="fOccurtime != null" >
        f_occurTime = #{fOccurtime,jdbcType=VARCHAR},
      </if>
      <if test="fStatus != null" >
        f_status = #{fStatus,jdbcType=VARCHAR},
      </if>
      <if test="fArea != null" >
        f_area = #{fArea,jdbcType=REAL},
      </if>
      <if test="fInjured != null" >
        f_injured = #{fInjured,jdbcType=INTEGER},
      </if>
      <if test="fHousenum != null" >
        f_houseNum = #{fHousenum,jdbcType=INTEGER},
      </if>
      <if test="fLossmoney != null" >
        f_lossMoney = #{fLossmoney,jdbcType=REAL},
      </if>
    </set>
    where f_thingNum = #{fThingnum}
  </update>
 <select id="findByItem" resultMap="BaseResultMap" >
 select  pk_thing_id, f_thingNum, f_name, f_field, f_adress, fk_type, fk_level, f_reportPeople, 
    f_alarmPeople, f_alarmPhone, f_occurTime, f_status, f_area, f_injured, f_houseNum, 
    f_lossMoney from t_event where 1=1 

 <if test="thingNum!=null and thingNum!=''">
  and  f_thingNum  like  "%"#{thingNum}"%" 
  
 </if>
<if test="type!=null and type!=''">
and fk_type  like  "%"#{type}"%" 
</if>
<if test="opentime!=null and opentime!=''">
and f_occurTime &gt; #{opentime}
</if>
<if test="endtime!=null and endtime!=''">
and f_occurTime &lt; #{endtime}
</if>
<if test="status!=null and status!=''">
and f_status = #{status}
</if>
 order by f_occurTime DESC
 </select>
  
</mapper>